<section class="presentation-container">
  <div class="welcome-presentation">
    <div class="personal-presentation">
      👋🏻 Olá, eu sou <br /><span class="name">Bruno César.</span><br />
      <span class="developer">Desenvolvedor Front-End</span>
    </div>
    <div class="personal-text">
      Trabalho atualmente como desenvolvedor front-end e busco me tornar um
      programador júnior. Tenho paixão pelo mundo da tecnologia e acredito que a
      busca constante por conhecimento é essencial para o sucesso em minha
      carreira.
    </div>

    <div class="contact">
      <a href="">
        <img draggable="false" src="assets/linkedin.png" alt="" />
      </a>

      <a href="">
        <img draggable="false" src="assets/github.png" alt="" />
      </a>
    </div>

    <div class="resume">
      <button mat-raised-button color="primary">Baixar currículo</button>
    </div>
  </div>

  <div class="avatoon">
    <img
      class="avatoon-image"
      draggable="false"
      src="assets/avatoon.png"
      alt=""
    />
  </div>
</section>
